.main {
	text-decoration: none !important;
	font-family: "TT Interphases Pro TRL", sans-serif;
}

.home {
	align-items: center;
	font-family: "TT Interphases Pro TRL", sans-serif;
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
}

/* Hero Section */
.hero {
	display: flex;
	align-items: center;
	justify-content: flex-start; /* Align text to the left */
	width: 100%;
	padding: 3rem 2rem;
	background: url("/images/banner.svg") no-repeat center center; /* Add your background image path here */
	background-size: cover; /* Make the background image bigger */
	color: #313231;
}

.text {
	flex: 1;
	max-width: 700px;
	text-align: left;
	padding: 5rem;
}

.text h1 {
	display: flex;
	font-size: 4rem;
	margin-bottom: 0.5rem;
	color: #fff0db;
}

.text h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #fff0db;
}

.text p {
	font-size: 1.5rem;
	color: #fff0db;
}

.featuredTitle {
	font-size: 3rem;
	color: #2f2f2f;
}

.featuredProjects {
	width: 100%;
	padding: 2rem 2rem;
}

.projectsContainer {
	justify-content: center;
	margin-left: 2rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.projectCard {
	justify-content: center;
	width: 285px;
	height: 310px;
	margin: 1rem;
	padding: 1.5rem;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px #6fa088;
	text-align: left;
	transition: transform 0.3s ease;
	border: 2px solid #929292;
}

.projectCard:hover {
	transform: translateY(-10px);
	box-shadow: 0 4px 20px #ed920a;
}

.projectImage {
	width: 100%;
	border-radius: 8px;
}

.projectTitle {
	font-size: 1.5rem;
	margin: 1rem 0;
}

.projectDescription {
	font-size: 1rem;
	color: #666;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
	.hero {
		padding: 2rem 1rem;
		background: url("/images/banner.svg") no-repeat center center; /* Responsive background image */
		background-size: cover; /* Make the background image bigger */
	}

	.text h1 {
		font-size: 4rem;
	}

	.text h2 {
		font-size: 2rem;
	}

	.text p {
		font-size: 1.5rem;
	}

	.projectsContainer {
		flex-direction: column;
		align-items: center;
	}

	.projectCard {
		width: 80%;
		max-width: 100%;
		height: auto;
	}

	.projectImage {
		max-height: none;
	}
}

/* About Section */

.aboutSection {
	padding-top: 3rem;
}
.heroAbout {
	background: url("/images/banner.svg") no-repeat center center; /* Add your background image path here */
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6rem;
	width: 100%;
	max-width: 100%;

	margin: 0 auto 4rem;
	padding: 3rem 0;
	flex-wrap: wrap;
	border-radius: 10px;
}

.textAbout {
	flex: 1;
	max-width: 600px;
	text-align: left;
	padding: 1rem;
	font-family: "TT Interphases Pro TRL", sans-serif;
}

.textAbout h1 {
	color: #cbf7e1;
	font-size: 3.5rem;
	margin-bottom: 0.5rem;
}

.textAbout h2 {
	font-size: 2rem;
	margin-bottom: 0.8rem;
	color: #dce0b7;
}

.textAbout h3 {
	font-size: 1.5rem;
	color: #e2a336;
	margin-bottom: 1.5rem;
}

.textAbout p {
	font-size: 1.1rem;
	line-height: 1.6;
	color: #e7e7e7;
	text-align: justify;
}

.imageContainerAbout img {
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.imageContainerAbout img:first-child {
	width: 100%;
	height: auto;
	max-height: 200px;
	object-fit: cover;
}

.imageGrid {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.imageGrid img {
	flex: 1;
	height: 200px;
	object-fit: cover;
	width: 50%;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
	.heroAbout {
		flex-direction: column;
		background: white;
	}

	.imageContainerAbout {
		width: 100%;
		text-align: center;
	}

	.imageGrid {
		flex-direction: column;
	}
}

.heading {
	font-family: "TT Interphases Pro TRL", sans-serif;
	text-align: end;
	margin-top: 1rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: black;
}

@keyframes pulsate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.pulsate {
	animation: pulsate 3s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeIn {
	animation: fadeIn 1s ease-in-out;
}

.fadeOut {
	animation: fadeOut 1s ease-in-out;
}
