.footer {
	padding: 2rem;
	background: #aed1c0;
	font-family: "TT Interphases Pro TRL", sans-serif;
	height: 1.5in;
}

.footer h2 {
	margin-bottom: 0.5rem;
}

.footer p {
	margin-bottom: 1rem;
	color: #555;
}

.icons {
	display: flex;
	gap: 1.5rem;
	font-size: 1.5rem;
}

.icons a {
	color: black;
	text-decoration: none;
}
