.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background: #fff;
	font-family: "TT Interphases Pro TRL", sans-serif;
}

.logoContainer {
	display: flex;
	align-items: center;
}

.logo {
	height: 60px;
	margin-right: 10px;
}

.name {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
}

.firstName {
	line-height: 1;
}

.lastName {
	line-height: 1;
	font-weight: bold;
}

.nav {
	display: flex;
	gap: 2rem;
}

.navLink {
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
	transition: font-weight 0.2s;
}

.navLink:hover,
.navLink:active {
	color: #6fa088;
	font-weight: bold;
}
