.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  #6fa088;;
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}