.main {
	padding: 2rem;
	font-family: "TT Interphases Pro TRL", sans-serif;
}

.container {
	display: flex;
}

.imageContainer {
	width: 70%;
	align-self: center;
	padding-left: 7rem;
}

.infoContainer {
	padding-left: 2rem;
}

.headingOne {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.headingTwo {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: #feb81a;
}

.paragraph {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

.chip {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: #6fa088;
	color: white;
	border-radius: 16px;
	text-decoration: none;
	margin-top: 1rem;
}

.chip:hover {
	background-color: #23572f;
}
.info {
	font-size: 1.5rem;
	margin-top: 2rem;
	padding-left: 7rem;
	padding-right: 7rem;
	text-align: justify;
}

.type {
	font-size: 2rem;
}

.process {
	color: #feb81a;
	font-size: 2rem;
}

.colorPalette {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.color {
	width: 15rem;
	height: 50px;
	border-radius: 8px;
	margin-right: 10px;
}

.subheading {
	margin-top: 2rem;
	font-size: 1.2rem;
}

.conceptDrawings {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.assets {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.asset {
	width: 200px;
	height: 200px;
}

.mockup {
	display: flex;
	gap: 20px;
	margin-top: 1rem;
}

.chip {
		font-size: 1.5rem;
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: #6fa088;
	color: white;
	border-radius: 16px;
	text-decoration: none;
	margin-top: 1rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.chip:hover {
	background-color: #23572f;
}

.storyboard {
	width:40rem;
	height: 50rem;
	display: flex;
	justify-content: center;
	margin-left: 7rem;
}
